.container {
  font-family: Rubik, monospace;
  font-size: 14px;
  margin-left: 15px;
}

.header {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-left: 8px;
  color: #793377;
  text-align: center;
}

.description {
  font-size: 14px;
  color: #793377;
  width: 285px;
  margin: 8px 0 8px 8px;
}

.validUntil {
  margin-left: 8px;
  color: #41D4BC;
}

.stampswrapper {
  display: flex;
  justify-content: center;
}

.stamps {
  padding-top: 10px;
  width: 288px;
  box-shadow: 0 1px 4px rgba(121, 51, 119, 0.25);
  border-radius: 8px;
  margin: 24px 8px 12px 8px;
  color: #793377;
  text-align: center;
  padding-bottom: 28px;
}

.count {
  width: 30%;
  display: inline-block;
  font-size: 64px;
  vertical-align: middle;
}

.hrtop {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  height: 0;
  width: 30%;
  border: 1px solid #793377;
  opacity: 0.6;
}

.hrbottom {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  height: 0;
  width: 90%;
  border: 1px solid #793377;
  opacity: 0.6;
}

.stampswrapper {
  padding-left: 14px;
}

.iconwrapper {
  display: inline-block;
  padding: 4px;
}


.activeicon {
  width: 56px;
  height: 56px;
  vertical-align: middle;
}

.iconconstainer {
  width: 30%;
  display: inline-block;
  font-size: 64px;
  vertical-align: middle;
}

.disableicon {
  width: 56px;
  height: 56px;
  opacity: 0.3;
  vertical-align: middle;
}

.icon {
  width: 56px;
  height: 56px;
  vertical-align: middle;
}

.free {
  width: 156px;
  height: 156px;
  opacity: 1;
}
