.qrcontainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background: rgba(255, 255, 255, 1);
  transition: 1s;
}

.qrwrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Rubik, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #793377;
  margin: 4px;
}

.qrImage {
  max-height: 300px;
  max-width: 300px;
}

.qrdescription {
  margin: 20px;
}

.qrbutton {
  margin: 10px;
  background-color: #793377;
  color: white;
  text-transform: uppercase;
  min-width: 300px;
}

.buttonswrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.buttonscontainer {
  width: 280px;
  background-color: gainsboro;
  border-radius: 6px;
}

button {
  background-color: gainsboro;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  width: 136px;
  margin: 2px;
  transition: 0.4s;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #FFFFFF;
}

.ldsripple {
  top: calc(50vh - 40px);
  left: calc(50vw - 40px);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.ldsripple div {
  position: absolute;
  border: 4px solid #c65ac2;
  opacity: 1;
  border-radius: 50%;
  animation: ldsripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldsripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ldsripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
