.qrwrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Rubik, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #793377;
}

.qrImage {
  max-height: 300px;
  max-width: 300px;
}

.qrdescription {
  margin: 20px;
}

.qrbutton {
  margin: 10px;
  background-color: #793377;
  color: white;
  text-transform: uppercase;
  min-width: 300px;
}

.buttonswrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.buttonscontainer {
  width: 280px;
  background-color: gainsboro;
  border-radius: 6px;
  margin-top: 10px;
}

button {
  background-color: gainsboro;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  width: 136px;
  margin: 2px;
  transition: 0.4s;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}
