.qrcontainer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.qr {
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px ;
  border-radius: 8px;
}

.qrimg {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.qrtext {
  font-family: Rubik, monospace;
  color: #793377;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-left: 8px;
  font-size: 14px;
  display: inline-block;
}
