.rectcontainer {
  font-family: Rubik, monospace;
  font-size: 14px;
  margin: 4px 4px 4px 4px;
  color: #793377;
}

.rectangleleft {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 1px 4px rgba(121, 51, 119, 0.25);
}

.main {
  margin: 3px;
  line-height: 18px;
  text-align: center;
}

.imgcontainer {
  display: flex;
  justify-content: center;
}

.mainicon {
  width: 42px;
  height: 42px;
}

.hr {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  height: 60px;
  width: 0;
  border: 1px dashed #793377;
  opacity: 0.6;
}

.rectangleright {
  vertical-align: top;
  height: 80px;
  border-radius: 8px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(121, 51, 119, 0.25);
  width: calc(100% - 98px);
}

.stampswrapper {
  padding-left: 14px;;
}

.iconwrapper {
  display: inline-block;
}

.activeicon {
  width: 24px;
  height: 24px;
}

.disableicon {
  width: 24px;
  height: 24px;
  opacity: 0.3;
}

.rest {
  display: inline-block;
  float: right;
  background: #C65AC2;
  border-radius: 8px;
  width: 24px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.companyname {
  display: inline-block;
  margin: 6px 0 0 16px;
  width: calc(100% - 24px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
